/* Das CSS fürs Lojban Highlighting und zum Anzeigen von Übersetzungen */

/* Zeige Übersetzungen beim Hovern an */
span:hover > span.translation {
  display: block;
}
/* Das Design vom Übersetzungsfenster */
span > span.translation {
  display: none;
  position: absolute;
  text-align: center;

  /* Sorge dafür, dass die Breite von der Hoverbox
   * der Breite des Texts entspricht */
  white-space: nowrap;
  
  min-height: 1.5em;
  top: -2em;
  padding: 4px;
  color: #fff;
  background: #444;
  border: 1px solid #000;
  border-radius: 5px 5px 5px 5px;

  /* Diese Zeilen zentrieren die Box mittig über dem Wort.
   * Schaut euch an, wie kaputt CSS nur ist... 
   * right und left bewegen die Box um die relative breite vom Text.
   * transform: translate() hingegen bewegt die Box relativ zu ihrer Größe. */
  right: 50%; /* Platziere die rechte Ecke der Box genau mittig über dem Wort */
  transform: translate(50%, 0); /* Schiebe die Box um 50% ihrer Breite nach rechts */
}
span {
  display: inline-block;
  position: relative;
}
