<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Deutschland ♥ Lojban</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Favicon -->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/lojbanistan.css">
    <link rel="stylesheet" href="/css/highlighting.css">

    <style>
    </style>

  </head>
  <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div class="wrapper">

      <nav>
        <ul>
          $for(artikel)$
          <li><a href="$url$">$titel$</a></li>
          $endfor$
        </ul>
      </nav>

      <header>
        <h1>$titel$</h1>
      </header>

      <main>
        $if(aufbauendAuf)$
        <p>
          Dieser Artikel baut auf folgenden Artikeln auf:
          <ul>
          $for(aufbauendAuf)$
            <li><a href="$url$">$titel$</a></li>
          $endfor$
          </ul>
        </p>
        $endif$
        $body$
      </main>

    </div>
    <footer>
      <a href="https://github.com/lojbanistan/lojbanistan.de">→ Zur Quelle</a>
    </footer>
  </body>
</html>
